---
const today = new Date();
---

<footer id="footer">
    <a href="https://twitter.com/abhijithabhiakl" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-x-twitter ico ico1 fa-3x"></i></a>
    <a href="mailto:hi@abhiakl.xyz"><i class="fa-solid fa-envelope ico ico2 fa-3x"></i></a>
    <a href="https://github.com/abhijithabhiakl" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github ico ico3 fa-3x"></i></a>
	<a href="https://blog.abhijithakl.xyz/rss.xml" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-square-rss ico ico4 fa-3x"></i></a>
	<p class="copyright">Made with literal caveman technology by abhiakl {today.getFullYear()}</p>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
		font-size: 0.8rem;
	}
</style>
